.main_title {
   margin: 90px 0;
}

.header-block {
   background-image: url("https://vladhrytsaiuk.github.io/zviahel-dopomoga/materials/img/heand.svg");
   background-repeat: no-repeat;
   background-size: 110%;
   background-position: 25% 100%;
}

.payments-title {
   margin: 80px 0 40px 0;
}


.payment-title {
   font-family: 'e-Ukraine';
   font-style: normal;
   font-weight: 500;
   font-size: 22px;
   line-height: 120%;
   letter-spacing: -0.02em;
   color: #000000;
   margin-top: 20px;
}

.payment-description {
   text-decoration: none;
   font-family: 'e-Ukraine';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 120%;
   letter-spacing: -0.02em;
   color: #000000;
   margin-top: 8px;
   margin-left: 32px;
}

.payment-description a {
   text-decoration: none;
   font-family: 'e-Ukraine';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 120%;
   letter-spacing: -0.02em;
   color: #000000;
   margin-top: 8px;

}

.payment-description-last {
   margin-left: 0;

}

.payment-description_copy {
   cursor: pointer;
}

.hidden-hr_line {
   display: none;
}

.payment-description:last-of-type {
   margin-bottom: 20px;
}

.payment {
   margin-bottom: 30px;
}


.contacts {
   max-width: 700px;
   background-color: #449284;
   border-radius: 20px;
   color: #FFFFFF;
   padding: 30px;
   text-align: center;
   margin: auto;
   margin-top: 40px;
   margin-bottom: 40px;
}

.row-contacts {
   justify-content: space-around;
   margin: 30px 0;
}

.contact-title {
   font-family: 'e-Ukraine';
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 140%;
   text-align: center;
   letter-spacing: -0.02em;
   margin: 0px 0 15px 0;
}

.contact-description {
   font-family: 'e-Ukraine';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 150%;
   text-align: center;
   letter-spacing: -0.02em;
   color: #ffffff81;
}

.contact-description a {
   text-decoration: none;
   font-family: 'e-Ukraine';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 150%;
   text-align: center;
   letter-spacing: -0.02em;
   color: #ffffff81;
}



.hr_line-contact {
   margin: 40px 0;
   width: 80%;
}


.copy {
   position: fixed;
   bottom: 10px;
   left: 50%;

   color: #FFFFFF;
   background-color: #449284;
   padding: 5px 10px;
   border-radius: 12px;
   box-shadow: 2px 2px 2px rgba(1, 1, 1, .3);
   visibility: hidden;
   opacity: 0;
   transition: .5s;
}

.copy_active {
   visibility: visible;
   opacity: 1;
   transition: .5s;
}